cfunits==1.5.1
influxdb==4.1.0
matplotlib==1.5.1
netCDF4==1.2.4
numpy==1.11.0
Pillow==8.3.2
python-dateutil==2.5.1
scipy==0.17.1
utm==0.4.1
python-logstash==0.4.6
enum34==1.1.6
PyYAML>=4.2b1
pyclowder==2.1.1
laspy
